<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Document</title>
    </head>
    <body>
        <div class="book-elements-container">
            <h1>1234567890</h1>
            <div class="book-element">
                <a href=""><img src="{{img}}" alt="book-img"></a>
                <a href=""><h1>{{name}}</h1></a>
                <h3>{{author}}</h3>
                <div class="add-to-cart">
                    <button>קנייה מהירה</button>
                    <button>הוספה לסל</button>
                </div>
            </div>
        </div>
        
    </body>
</html>