<div class="book-element">
    <a href=""><img src="{{img}}" alt="book-img"></a>
    <a href=""><h1>{{name}}</h1></a>
    <h3>{{author}}</h3>
    <div class="add-to-cart">
        <button>קנייה מהירה</button>
        <button>הוספה לסל</button>
    </div>
</div>