<footer>
     <link rel="stylesheet" href="/css/footer.css">
   <bottom>
        <div class="logo-container">
            <img class="logo-icon" src="img/logo.png" alt="logo">
            <h4>book-shop</h4>
        </div>

        <p>
            book-shop היא חנות ספרים עדכנית, חדשנית ומתקדמת, אשר בו 
            זמנית גם מציעה לכם את החוויה האינטימית והאיכותית של חנות הספרים השכונתית שלכם, שילוב 
            אופטימאלי בין הזמינות, השפע והתמחור האטרקטיבי של ספרים לצד מבחר ענק ומגוון של
             ספרים בתהליך בחירה מוקפד, במשלוח חינם לחוויית קריאה מסורתית וישירה. חנות הספרים 
            מציעה מבחר מהגדולים בישראל של ספרים בעברית, כולל שפע אדיר של ספרים חדשים ומרתקים 
            מאת סופרים וסופרות שפשוט לא הייתם מוצאים ברשתות ובהוצאות הגדולות.
        </p>
        <ul>
            <li><a href="">צור קשר</a></li>
            <li><a href="">זכויות יוצרים</a></li>
            <li><a href="">תקנון האתר</a></li>
            <li><a href="">קניה באתר - שו"ת</a></li>
            <li><a href="">למה book-shop</a></li>
            <li><a href="">איך לרכוש ספר באתר</a></li>
        </ul>
    </bottom>
    
</footer>