<header>
    <link rel="stylesheet" href="/css/header.css">
    <div class="main-header">
        <img class="logo-icon" src="img/logo.png" alt="logo">
        <h4>book-shop</h4>
        <div class="login-and-signup">
            <h5> שלום אורח! </h5>
            <p><i>כניסה לחשבון </i><i> / הרשמה </i></p>
        </div>

        <div class="registered-user"></div>

        <div class="header__main-content">
            

            <div class="search-box-container">
                <input type="text" placeholder="חיפוש" class="search-box">
                <button type="submit" class="submit-search"><img src="img/search.png"></button>
            </div>  

            <div class="shopping-cart">
                <div class="shopping-cart-count">1</div>
                <img src="img/shopping-cart.png" alt="shopping-cart-icon">
               
                <p>הסל שלי</p>
            </div>

        </div>     
        
        <div class="main-nav">
            <ul>
                <li><a href="">צור קשר</a></li>
                <li><a href="">חדשים</a></li>
                <li><a href="">מארזים משתלמים</a></li>
                <li><a href="">מבצעי החודש</a></li>
                <li><a href="">פרוזה</a></li>
                <li><a href="">מתח</a></li>
                <li><a href="">מד"ב ופנטזיה</a></li>
                <li><a href="">רומנטיקה</a></li>
                <li><a href="">שירה</a></li>
                <li><a href="">עיון</a></li>
                <li><a href="">ילדים</a></li>
                <li><a href="">נוער</a></li>
                <li><a href="">פנאי</a></li>
                <li><a href="">רוחניות, מדיטציה ורוגע</a></li>
            </ul>
        </div>
    </div>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <script src="/js/header.js"></script>
</header>