<div class="login-container">
        <div class="backdrop"></div>
        <form class="login-form" action="/signup">
                <h2>כניסה</h2>
                <input type="text" name="email" placeholder="כתובת מייל *" required />
                <div class="email error"></div>
                <input type="password" name="password" placeholder="סיסמה *" required />
                <div class="password error"></div>
                <button>התחברות</button>
        </form>
</div>


