
<div class="signup-container">
    <div class="backdrop"></div>
    <form class="signup-form" action="/signup">
        <h2>רישום </h2>
        <input type="text" name="email" placeholder="כתובת מייל *" required />
        <div class="email error"></div>
        <input type="text" name="name" placeholder="שם משתמש *" required />
        <div class="name error"></div>
        <input type="password" name="password" placeholder="סיסמה *" required />
        <div class="password error"></div>
        <button>הרשמה</button>
    </form>
</div>
