html{
    direction: rtl;
}

.main-body-content{
    padding: 30px;
    padding-top: 180px;
    /* height: 1500px; */
    width: 100%;
    background-color: #f0f1f3;
}

.main-content-header{
    width: 100%;
    text-align: center;
    position: relative;
}

.main-content-header::after{
    content: '';
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    background: #babbbd;
    height: 1px;
    position: absolute;
}

.main-content-header span{
    background: #f0f1f3;
    z-index: 1;
    position: relative;
    padding: 0 50px;
}




.login-container,
.signup-container{
    display: none;
}

.backdrop{
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 101;
    background: rgba(0, 0, 0, 0.5);
}

.signup-form  h2,
.login-form  h2{
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 40px;
}
.signup-form,
.login-form{
    position: fixed;
    top: 15vh;
    z-index: 101;
    left: 32vw;
    width: 36vw;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 1%);
    background: white;
}
.signup-form input,
.login-form input{
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    width: 100%;
}

.signup-form button,
.login-form button{
    cursor: pointer;
    margin-top: 30px;
    border-radius: 36px;
    background: #ff8800;
    border:0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
}
.error{
    color: #ff0099;
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
}




.books_list{
    display: flex;
    flex-wrap: wrap;
}

.book-elements-container{
    background-color: blue;
}

.book-element{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: auto;
    height: 350px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
}

.book-element a{
    text-decoration: none;
    color: rgb(28, 155, 207);
}

.book-element h3 {
    margin: 0px;
}


.book-element img{
    height: 130px;
    width: 70px;
    box-shadow: 0px 10px 20px #adadad;
}



.add-to-cart{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-to-cart :nth-child(1){
    background-color: #ff7110;
    color: white;
    border: 1px solid #ff7110;
}
.add-to-cart :nth-child(2){
    background-color: white;
    color: #ff7110;
    border: 1px solid #ff7110;
}

.add-to-cart button{
    cursor: pointer;
    height: 25px;
    width: 100px;
    border-radius: 8px;
    border: none;
}

.add-to-cart button:hover{
    background-color: rgb(172, 144, 144);
    border: 1px solid rgb(172, 144, 144);
}